<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
 	    
    <script type="text/javascript">
		$(function(){
			//加载数据
			doGetObjects();
		})
  		function doGetObjects(){ 
			
  			//URL方法名 -->
 			var url ="goodsMapper"; 
 			//request params -->
  			 var params =null;
  			//send async request得到JSON串 -->
			$.getJSON(url,params,function(result){//callback
				 //console.log(result);
				 //console.log(result.data.records);
				 //对数据进行处理
		 		doHandleResponseResult(result);
				 debugger
			 });//jquery
  		}
		
		function doHandleResponseResult(result){
			if(result.state==1){
				//载入数据
				doSetTableBodyRows(result.data)
			}else
				alert(没数据传入);
		}
		
		function doSetTableBodyRows(records){
			 debugger
			 //1.获取tbody对象,并清空tbody中数据
			 var tBody=$('#dataList').find('tbody');
			 tBody.empty();
			 //2.迭代records,并将记录追加tbody中
			 for(var i=0;i<7;i++){
			  //2.1 创建一个tr对象
			  var tr=$("<tr></tr>");
			  //2.2 创建多个td对象(一行多列)
			  var tds=doCreateTds(records[i]);
			  //2.3 将td追加到tr中
			  tr.append(tds);
			  //2.4 将tr追加tbody中
			  tBody.append(tr);
			 }
		}
		
		 function doCreateTds(data){
			 debugger
			   var tds="<td><input type='checkbox' class='cBox' name='cItem' value='"+data.id+"'></td>"+
			   		 "<td>"+data.id+"</td>"+
				   	 "<td>"+data.goodsName+"</td>"+
				     "<td>"+data.price+"</td>"+
				     "<td>"+data.category1Id+"</td>"+
				     "<td>"+data.category2Id+"</td>"+
				     "<td>"+data.category3Id+"</td>"+
				     "<td>"+data.caption+"</td>"+
				     "<td><button type='button' class='btn bg-olive btn-xs'>修改</button></td>";
		      return tds;
		 }
 	</script>	
 	
</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
                                        <button type="button" class="btn btn-default" title="提交审核" ><i class="fa fa-check"></i> 提交审核</button>
                                        <button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                  状态：<select>
                                         	<option value="">全部</option>      
                                         	<option value="0">未申请</option>    
                                         	<option value="1">申请中</option>    
                                         	<option value="2">审核通过</option>    
                                         	<option value="3">已驳回</option>                                     
                                        </select>
							                  商品名称：<input >									
									<button class="btn btn-default" >查询</button>                                    
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">一级分类</th>
									      <th class="sorting">二级分类</th>
									      <th class="sorting">三级分类</th>
									      <th class="sorting">状态</th>									     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
<!-- 			                          <tr> -->
<!-- 			                              <td><input  type="checkbox"></td>			                               -->
<!-- 				                          <td>1</td> -->
<!-- 									      <td>小米6S手机</td> -->
<!-- 									      <td>1090</td> -->
<!-- 									      <td>数码</td> -->
<!-- 									      <td>手机</td> -->
<!-- 									      <td>国产手机</td> -->
<!-- 		                                  <td> -->
<!-- 		                                  	<span> -->
<!-- 		                                  		未申请 -->
<!-- 		                                  	</span> -->
<!-- 		                                  	<span > -->
<!-- 		                                  		申请中 -->
<!-- 		                                  	</span> -->
<!-- 		                                  	<span> -->
<!-- 		                                  		审核通过 -->
<!-- 		                                  	</span> -->
<!-- 		                                  	<span> -->
<!-- 		                                  		已驳回 -->
<!-- 		                                  	</span> -->
<!-- 		                                  </td>		                                   -->
<!-- 		                                  <td class="text-center">                                           -->
<!-- 		                                 	  <button type="button" class="btn bg-olive btn-xs">修改</button>                   -->
<!-- 		                                  </td> -->
<!-- 			                          </tr> -->
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
		
</body>

</html>